* {
    font-family: Arial;
}

body {
    width: 99.2vw;
    margin: 0px 0px 0px 0px;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    justify-self: left;

    max-width: 28vw;
}

section {
    width: 100vw;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 50px;
    margin-left: auto;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0px;
}

li {
    list-style-type: none;
    width: auto;
}

nav ul li {
    padding: 15px;
    font-weight: bold;
}


li img {
    height: 95%;
    width: auto;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #14161B;
    color: #FFFFFF;

    line-height: 50px;
}


/* Buttons */
.demosButton {
    border: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;

    max-height: 20px;
    padding: 15px;
}

.centeredDiv {
    margin: 0 auto;
    width: 61%;
    justify-self: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burgerMenu {
    display: none;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Mountain background */
.background {
    background-image: url("src/hero.jpg");
    background-repeat: round;
    background-size: cover;

    width: 100%;
    height: 550px;
}

.backgroundCenter {
    padding-top: 4%;
    width: 45vw;
    flex-direction: column;
}

.backgroundCenter h1 {
    padding-left: 0;
    font-size: 350%;
    text-align: center;
    max-width: 33vw;
}

.backgroundCenter p {
    padding-left: 0;
    text-align: center;
    font-size: 100%;
    margin-top: 0px;
    padding-top: 0px;

    padding-top: 0%;
    max-width: 45vw;
}

.background .centeredDiv {
    width: 100%;
}

/* Project Info */
.projectInfo {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 32vh;
}

.projectInfo ul li {
    text-align: center;
    width: 33.3%;
    height: 250px;
    padding-top: 30px;

    font-size: 115%;
}

.fa {
    font-size: 2.5em;
}

.projectInfo ul li p {
    text-align: center;
    max-width: 20vw;
    margin: 0 auto;
}

.showcase {
    width: 100%;
    height: auto;

    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

/* Showcase stuff */
.showcase ul.showcase {
    display: block;
}

.showcase li.showcase {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Rows itself */
.showcase li:nth-child(1) {
    background-color: #ECECEC;
}

.showcase li:nth-child(3) {
    background-color: #000000;
}

/* Centered divs */
.showcase li:nth-child(2) .centeredDiv {
    flex-direction: row-reverse;
}

.showcase li:nth-child(3) .centeredDiv {
    color: #FFFFFF;
}

.learnMoreButton {
    background-color: #FCB03B;
    color: #14161B;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
    font-weight: bold;

    max-height: 20px;
    padding: 15px;
}

.showcaseTextDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: center;

    margin-left: 1vw;
    margin-right: auto;

    width: auto;
    height: auto;
}

/* Featured work */
.featuredWork {
    width: 100%;
    height: auto;

    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.featuredWork .centeredDiv {
    flex-direction: column;
}

.featuredWork h2 {
    width: 100%;
    text-align: left;
}

.featuredWork ul.featuredWork {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.featuredWork li.featuredWork {
    width: auto;
}

/* Reviews */
.reviews {
    background-color: #ECECEC;
    height: fit-content;
}

.reviews div {
    display: flex;
    flex-direction: column;
    float: left;
}

.reviews ul{
    width: 100%;
}

.reviews li.reviews {
    width: 33.3%;
}

.reviews div p {
    font-size: 90%;
    max-width: 80%;
}

.reviews img {
    width: 18%;
    height: auto;
    border-radius: 50px;
}

/* Webproject */
.webProject {
    width: 100%;
    height: 550px;

    background-color: #14161B;

    flex-direction: column;
    justify-content: center;

    font-size: 110%;
    text-align: center;
    color: #FFFFFF;
}

.webProject h1 {
    font-size: 180%;
    width: 25vw;
    height: auto;
    margin: 0 0;
}

.webProject p {
    max-width: 40vw;
    height: auto;
}

/* Reply */
.reply {
    width: 100%;
    height: 150px;

}

.reply h4 {
    padding-top: 1%;
    padding-left: 3%;
    height: auto;
}

.reply div {
    width: 61%;
    flex-direction: column;
    align-items: normal;
}

.reply p {
    text-align: left;
    padding-left: 3%;
    margin-top: 0px;
}

@media only screen and (max-width: 1200px) {
    .featuredWork ul.featuredWork {
        flex-direction: column;
    }

    .backgroundCenter h1 {
        max-width: 70vw;
    }

    .webProject h1 {
        width: auto;
    }

    .webProject p {
        max-width: 70vw;
        width: auto;
    }
}

@media only screen and (max-width: 1146px) {

    header section h1 {
        padding-left: 10px;
        font-size: 120%;
    }

    nav {
        display: none;
    }

    .burgerMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #14161B;

        width: 12vw;
        padding: 5px;

        margin-right: 20px;
    }
}

@media only screen and (max-width: 600px) {

    .background{
        height: auto;
    }
    .fa {
        font-size: 1.5em;
    }

    .centeredDiv {
        width: 98%;
    }

    * {
        font-size: 100%;
    }

    .backgroundCenter h1 {
        font-size: 120%;
        width: 50%;
        text-align: center;
    }

    .backgroundCenter {
        width: 95vw;
    }

    .backgroundCenter p {
        max-width: 80vw;
    }

    .learnMoreButton {
        font-size: 95%;
    }

    .demosButton {
        font-size: 95%;
    }

    .background {
        height: 360px;
        background-position: -150px -65px;
        background-size: 1366px 500px;
    }

    .backgroundCenter {
        background-color: #ECECEC;
        width: 100vw;
    }

    .projectInfo {
        height: auto;
        width: 100%;
        padding-top: 0px;
    }

    .projectInfo ul {
        display: flex;
    }

    .projectInfo ul li {
        width: 100%;
        height: 33.3%;
        padding-bottom: 5px;
        padding-top: 15px;
    }

    ul {
        flex-wrap: wrap;
        margin-top: 0px;
    }

    .projectInfo ul li p {
        text-align: center;
        max-width: 100vw;
        margin: 0 auto;
        font-size: 90%;
    }

    .projectInfo:nth-child(2) p {
        display: none;
    }

    .image-container {
        height: 25%;
        width: 97vw;
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        display: block;
        object-fit: cover;
    }

    .showcase {
        flex-direction: column;
    }

    .showcase .li.showcase .centeredDiv {
        flex-direction: column;
        justify-content: flex-start;
    }

    .showcaseTextDiv p,
    h2 {
        max-width: 100vw;
        padding-right: 10vw;
        padding-left: 1.5vw;
    }

    .showcaseTextDiv h2 {
        font-size: 150%;
        margin-bottom: 0px;
    }

    .showcaseTextDiv .learnMoreButton {
        margin-left: 1.5vw;
    }

    .showcase li:nth-child(2) .centeredDiv {
        flex-direction: column-reverse !important;
    }

    .showcase li:nth-child(2) .image-container {
        padding-top: 15px;
    }

    .featuredWork h2 {
        width: 90%;
        font-size: 150%;
    }

    .featuredWork {
        flex-direction: column;
    }

    .featuredWork ul.featuredWork {
        flex-direction: column;
    }

    .featuredWork li.featuredWork {
        padding-bottom: 20px;
    }

    .reviews li.reviews {
        width: 100%;
    }

    .webProject {
        height: 350px;
    }

    .webProject h1 {
        width: 100vw;
        font-size: 120%;
    }

    .webProject p {
        max-width: 100vw;
        font-size: 90%;
    }

    .reply div {
        width: 95%;
    }

    footer .centeredDiv {
        width: 95%;
    }

    .reply p {
        max-width: 90vw;
    }

    .webProject .learnMoreButton {
        padding: 15px;
        font-size: 65%;
    }
}